.DS_Store
*/.DS_Store
*/*/.DS_Store
Extra_no_github
episode*/P04156.fasta
episode*/zebrafish*
episode*/results.txt
episode*/weather
episode*/slurm*
episode*/SRR6166481_*
episode*/Fago*
episode*/out_velvet
episode*/TEST*
episode*/testbis*
episode*/data_files
