Extra_no_github
episode1*/weather
episode4*/slurm*
episode*/SRR6166481_*
episode*/solutions/SRR6166481_*
episode*/Fago*
episode*/solutions/Fago*
episode*/out_velvet
episode*/solutions/out_velvet
episode*/TEST*
