.DS_Store
*/.DS_Store
*/*/.DS_Store
Extra_no_github
episode1*/weather
episode4*/slurm*
episode*/SRR6166481_*
episode3*/solutions/SRR6166481_*
episode*/Fago*
episode3*/solutions/Fago*
episode3*/out_velvet
episode3*/solutions/out_velvet
episode3*/TEST*
episode3*/testbis*
